@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .heroButton{
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs
        tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
    }
}




::-webkit-scrollbar {
    width: .6em;
    height: .6em;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
    background: hsla(100 0% 25%/ 2);
    border-radius: 100vh;
}

@supports ( scrollbar-color: red blue) {
    * {
        scrollbar-color: hsla(100 0% 25%/ 2) transparent ;
        scrollbar-width: thin;
    }
}